@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/jwlibrary/JWLibrary.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        })

        function fnLogin() {
            var id = 'h20913';
            var pw = 'wcw123';

            //var model = {
            //    "Id": id, "Pw": pw
            //};
            var model = new Object();
            model.Id = id;
            model.Pw = pw;

            @*$.ajax({
                url: '@Url.Action("LoginFromBody", "Account")',
                type: 'POST',
                datatype:'json',
                data: model,
                success: function (data) {
                    alert('a');
                }
                , error: function () {
                    alert('b');

                }

            })*@

            

            var proxy = JWLibrary.Proxy('Account', 'LoginFromBody', null);
            proxy.WebMethod('POST', JSON.stringify(model), function (data) {
                if (data.ResCd == '00') {
                    alert('suc');
                }
              
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            @*<form action="Login"  method="post">
            <div class="row">
                <div class="form-group">
                    <label class="label col-md-2">아이디</label>
                    <input class="form-control" value="@Model.Id" placeholder="아이디" id="Id" name="Id"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="label col-md-2">Password</label>
                    <input class="form-control" value="@Model.Pw" placeholder="password" id="Pw" name="Pw"/>
                </div>
            </div>
            <button class="text-center" type="submit">확인</button>
        </form>*@
            <div class="row">
                <div class="form-group">
                    <label class="label col-md-2">아이디</label>
                    <input class="form-control" value="@Model.Id" placeholder="아이디" id="Id" name="Id" />
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="label col-md-2">Password</label>
                    <input class="form-control" value="@Model.Pw" placeholder="password" id="Pw" name="Pw" />
                </div>
            </div>
            <button class="text-center" type="button" onclick="javascript: fnLogin();">확인</button>
        </div>
    </div>

</body>
</html>
